---
import SiteMenu from './SiteMenu.astro';
import Shovel from './Shovel.astro';
---

<header class="site-header">
	<div class="container row">
		<a class="brand" href="/">
			<Shovel size={24} class="brand-mark" title="digsdeeper" />
			<span class="brand-name">digsdeeper</span>
			<span class="brand-descriptor">Serious essays</span>
		</a>
		<button
			type="button"
			class="menu-trigger"
			data-menu-trigger
			aria-controls="site-menu"
			aria-expanded="false"
		>MENU</button>
	</div>
</header>

<SiteMenu />
